<header>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-lg-12"> 
        <div class="col-md-2 col-sm-2 col-xs-4 logo">
          <div class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active" >
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                  <span> <i class="fa fa-bars"  aria-hidden="true"></i></span> 
                </button>
              </li>
            </ul>
          </div>
          <span> <a href="/"><%= image_tag 'logo.png'%></a></span>
        </div>
        <div class="col-md-6 col-sm-7 col-xs-6 mt-10">
          <input class="search" placeholder="Search" type="search" />
          <button class="search-btn" type="button"> <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-offset-0 col-md-offset-1 col-md-3 col-sm-2 col-xs-2 pd-0 up-data"> 
          <div class="col-lg-4 col-md-5 col-sm-6 fileUpload text-center"> <span>Upload</span>
            <!-- <input type="file" class="upload" /> -->
          </div>
          <div class="notification col-md-2 text-center col-sm-3 mt-10 pd-0">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </div>
          <div class="col-md-5 col-sm-offset-1 col-sm-4 sign-in pd-0 mt-10">
            <button type="button" class="cum-btn btn">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
          <% @side_linkes.each do |section|%>
            <li>
              <a href="#"><%=section['title'] ? section['title'] : ''%> </a>
            </li>
          <%end%>
        </ul>
    </div>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <% @side_linkes.each do |section|%>
          <li>
            <a href="#" class="side_links"><%=section['title'] ? section['title'] : ''%> </a>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</header>
